{% extends 'base.html' %}
{% block title %}主页{% endblock %}
{% block body %}
    <div class="panel">
        <div class="panel-title">
            <h3 class="fleft">
                主页
                <span class="layui-badge-rim c-success font-iosevka">
                    Welcome to FF.PyAdmin!
                </span>
            </h3>
        </div>
        <div class="panel-box pl25">
            <div id="grid_main" class="font-iosevka">
                <fieldset class="layui-elem-field">
                    <legend><i class="ficon icon-pc text-success f20"></i> 主页</legend>
                    <div class="layui-field-box">
                        暂未开放主页功能
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
{% endblock %}
